
body {
  background-image: url(/BackgroundNight.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(31, 48, 78);
}
.initial h1 {
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
}

/* cloud container section */

.cloud-container {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.cloud {
  position: absolute;
}
#moon-1{
  transform: translate(0, 0) ;
  width: 100%;
  height: auto;
}
#santa-1 {
  transform: translate(0, 0) ;
  width: 100%;
  height: auto;
}
#cloud-1{
  background-size: cover;

  width: auto;
  height: 100%;
}
#cloud-2{
  background-size: cover;
  width: auto;
  height: 100%;
  right: 0px;
}
#aoc-heading{
  bottom: 40vh;
  left: 10vw
}
#aoc-heading-2{
  bottom: 20vh;
  right: 10vw;
}
#cloud-5{
  transform: translate(-400px, 800px);
}

/* sky container section */

.sky-container section {
  background-color : #401c59;
  height: 500px;
  width: 800px;
  display: block;
  text-align: center;
  margin: auto;
  padding: 1em 3em;
}

.sky-container p {
  font-family: 'Corben', serif;
  color: #cae6e4;
  text-align: left;
}

/* Ground forest section */
.ground-container {
  padding: 20px;
  height: 150vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.ground {
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.background {
  width: 100%;
}
.left-trees {
  left: 0px;
}
.right-trees {
  float: right;
}
.main-tree {
  width: auto;
  margin: auto;
  left:-500%;
  right:-500%;
  background-size: cover;
}
.left-foreground {
  /* left: -5%; */
  left: 0px;
}
.right-foreground {
  float: right;
  /* right: -15%; */
}

h1 {
  color: #cae6e4;
  font-size: 3em;
  font-family: 'Corben', serif;
  font-weight: normal;
  text-shadow: 0 0 7px black;
}
h1::first-letter {
  font-size: 5rem;
  font-family: 'Rye', serif;
  color: #bf9d52;
}

