
body {
  background-image: url(/BackgroundNight.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(31, 48, 78);
}
.initial h1 {
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
}

/* cloud container section */
#stars-top {
  background-size: cover;
  width: 100%;
}
.cloud-container {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.cloud {
  position: absolute;
}
#moon-1{
  transform: translate(0, 0) ;
  width: 100%;
  height: auto;
}
#santa-1 {
  transform: translate(0, 0) ;
  width: 100%;
  height: auto;
}
#cloud-1{
  background-size: cover;

  width: auto;
  height: 100%;
}
#cloud-2{
  background-size: cover;
  width: auto;
  height: 100%;
  right: 0px;
}
#aoc-heading{
  bottom: 40vh;
  left: 10vw
}
#aoc-heading-2{
  bottom: 20vh;
  right: 10vw;
}
#cloud-5{
  transform: translate(-400px, 800px);
}

/* sky container section */

.sky-container section {
  background-color : #401c59;
  height: 500px;
  width: 800px;
  display: block;
  text-align: center;
  margin: auto;
  padding: 1em 3em;
}

.sky-container p {
  font-family: 'Corben', serif;
  color: #cae6e4;
  text-align: left;
}

/* ground forest section */

.comet {
  width: 100%;
  height: auto;
}

#stars-bottom {
  background-size: cover;
  width: 100%;
  height : auto;
}

.ground-container {
  padding: 20px;
  height: 150vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.ground {
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.background {
  width: 100%;
}
.left-trees {
  left: 0px;
  will-change: transform;
}
.right-trees {
  float: right;
  will-change: transform;
}


/* tree styling */

.main-tree {
  width: auto;
  margin: auto;
  left:-500%;
  right:-500%;
  background-size: cover;
}
.lights {
  opacity: 0;
}

/* PRESENTS - NOT RESPONSIVE YET - HALP */
.present {
  width: auto;
  margin: auto;
  left:-500%;
  right:-500%;
  background-size: cover;
}

.primary-present-container {
  position: relative;
  width: 20%;
  max-width: 400px;
  margin-left: 45%;
  height: auto;
  bottom: 0;
  height: 150vh;
  /* background-color: red; */
  /* opacity: 0.5; */
}
.position-present {
  /* padding-left: 120px; */
  position: absolute;
  display: block;
  margin-bottom: clamp(30px, 9%, 70px);
  width: clamp(150px, 100%, 380px);
  height: auto;
}
.present-primary {
  height: auto;
  /* bottom: 60px; */
  z-index: 20;
  background-size: cover;
}
.present-primary:hover {
  cursor: pointer;
}

/* CARD SECTION */
.card-container {
  position: absolute;
  bottom: 100px;
  width: 80%;
  height: 80vh;
  margin: auto;
  opacity: 0;
}
.card {
  position: absolute;
  height: 100%;
  width: 100%;
}
.card-text-container {
  position: relative;
  z-index: 12;
  padding: 50px 150px;
}
h1.card-text::first-letter {
  font-size: 5rem;
  font-family: 'Rye', serif;
  color: rgb(112, 16, 38);
}
h1.card-text{
  font-family: 'Corben', serif;
  font-weight: normal;
  color: rgb(33, 49, 79);
  text-shadow: 0 0 0;
}
h2.card-text {
  font-family: 'Corben', serif;
  font-weight: normal;
  color:rgb(42, 63, 101);
}

/* AOC STUFF */
.aoc-days {
  position: relative;
  width: 90%;
  height: 50%;
  margin: auto;
  bottom: 0px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  z-index: 13;
}

@media (min-width: 400px) {
  .aoc-days ul { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 600px) {
  .aoc-days ul { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 900px) {
  .aoc-days ul { grid-template-columns: repeat(4, 1fr); }
}

.aoc-days ul {
  position: inherit;
  display: grid;
  grid-gap: 1rem;
  list-style-type: none;
  padding: 1rem;
  top: 0px;
}
.aoc-day {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
}
.aoc-days li {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  background-color: rgb(240, 238, 225);
  border-radius : 9999px;
  padding: 2rem;
  box-shadow: -10px 8px 7px rgb(122, 110, 110);

}
.aoc-days li:hover {
  cursor: pointer;
  transform: scale(0.99);
  box-shadow: none;

  transition: transform 0.2s ease-in-out;
}
.aoc-days img {
  min-height: 120px;
  width: 100%;
  height: auto;
  overflow: hidden;
    /* position: relative; */
  margin: 1rem 0;
}
.aoc-days h1 {
  font-family: 'Corben', serif;
  font-size : 1.5rem;
  font-weight: normal;
  color: rgb(33, 49, 79);
  text-shadow: 0 0 0px black;
}
.aoc-days h1::first-letter {
  font-size: 3rem;
  font-family: 'Rye', serif;
  color: rgb(112, 16, 38);
}

.left-foreground {
  /* left: -5%; */
  left: 0px;
}
.right-foreground {
  float: right;
  /* right: -15%; */
}

h1 {
  color: #cae6e4;
  font-size: 3em;
  font-family: 'Corben', serif;
  font-weight: normal;
  text-shadow: 0 0 7px black;
}
h1::first-letter {
  font-size: 5rem;
  font-family: 'Rye', serif;
  color: #bf9d52;
}


